* {
    font-family:
        'Inter',
        'Poppins',
        'Roboto Mono',
        sans-serif;
    line-height: 180%;
    font-kerning: normal;
}

html {
    margin: 0;
    padding: 0;
    background: #191919;
    color: rgba(255, 250, 245, 0.87);
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(285.41deg, rgba(18, 18, 18, 1), #232323 100%);
    background-attachment: fixed;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* wrap */

.wrapper,
.fv-wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1080px;
    padding: 32px 40px;
    box-sizing: border-box;
}

.footer-wrapper,
.header-wrapper {
    display: flex;
    justify-content: space-between;
	align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    padding: 20px 40px;
    box-sizing: border-box;
}

@media (max-width: 576px) {

    .wrapper,
    .fv-wrapper,
    .footer-wrapper {
        width: 100%;
        padding: 32px 24px;
        box-sizing: border-box;
    }

    .header-wrapper {
        width: 100%;
        padding: 20px 24px;
        box-sizing: border-box;
    }

}

header {
    width: 100%;
    position: fixed;
    z-index: 10;
}

.fv-wrapper {
    width: 100%;
    padding-top: 56px;
    padding-bottom: 0;
    height: 420px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

.container {
    margin: 0;
    padding-bottom: 32px;
}

.footer-wrapper {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {
    display: flex;
    width: fit-content;
    align-items: center; 
    gap: 4px;
}

/* typography */

.page-title {
    font-family: 'Roboto Mono', sans-serif;
    color: rgba(255, 250, 245, 0.87);
}

.copy {
    font-size: 48px;
    padding-bottom: 8px;
    line-height: 140%;
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 250, 245, 0.87);
    font-weight: 700;
}

h2 {
    color: rgba(255, 250, 245, 0.54);
    margin: 0;
    font-size: 14px;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.sp {
    display: none;
}

dt {
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 120%;
    padding-bottom: 6px;
}

h1,
p,
dd,
small {
    font-weight: 300;
    font-family: 'Roboto Mono', sans-serif;
    color: rgba(255, 250, 245, 0.54);
    margin: 0;
    font-size: 12px;
}

small {
    font-family: 'Roboto Mono', sans-serif;
    color: rgba(255, 250, 245, 0.87);
}

span {
    font-weight: 300;
}

span.color {
    font-weight: 700;
    color: #D3FE43;
}

/* button */

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
 }

.social-link {
    display: block;
    width: 32px;
    height: 32px;
    opacity: 0.87;
    transition: .2s;
}

.social-link:hover {
    opacity: 1;
}

.social-link:active {
    opacity: 0.6;
}

.social-icon,
.theme-switch-dark,
.theme-switch-light {
    width: 100%;
    height: 100%;
    fill: rgba(255, 250, 245, 0.87);
}

.theme-switch-light {
    display: none;
}

/* motion */

.fade-in{
    animation-name:fade-in;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;
}

@keyframes fade-in{
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

.fluid {
    position: fixed;
    z-index: -1;
    bottom: -380px;
    right: -100px;
    width: 1300px;
    height: 1000px;
    background: rgba(255, 250, 245, 0.02);
    animation: fluidrotate 16s ease 0s infinite;
}

@media (max-width: 576px) {

    .fluid {
        bottom: -400px;
        right: -300px;
        width: 700px;
        height: 700px;
    }

}
  
@keyframes fluidrotate {  

    0%, 100% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
    
}

/* light theme */

.light html {
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.87);
}

.light body {
    background: linear-gradient(285.41deg, #FFFFFF 0%, #F0F0F0 100%);
}

.light .page-title {
    color: rgba(0, 0, 0, 0.87);
}

.light .page-title {
    color: rgba(0, 0, 0, 0.87);
}

.light .copy {
    color: rgba(0, 0, 0, 0.87);
}

.light h2 {
    color: rgba(0, 0, 0, 0.54);
}

.light dt {
    color: rgba(0, 0, 0, 0.87);
}

.light h1,
.light p,
.light dd,
.light small {
    color: rgba(0, 0, 0, 0.54);
}

.light small {
    color: rgba(0, 0, 0, 0.87);
}

.light span.color {
    color: #5639CC;
}

.light .fluid {
    background: linear-gradient(132.6deg, rgba(0, 0, 0, 0.012) 0%, rgba(0, 0, 0, 0.092) 100%);
}

.light .social-icon {
    fill: rgba(0, 0, 0, 0.87);
}

.light .theme-switch-dark {
    display: none;
}

.light .theme-switch-light {
    display: block;
    fill: rgba(0, 0, 0, 0.87);
}