* {
    font-family:
        'Inter',
        'Poppins',
        'Roboto Mono',
        sans-serif;
    line-height: 180%;
    font-kerning: normal;
}

html {
    margin: 0;
    padding: 0;
    background: #191919;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(285.41deg, rgba(18, 18, 18, 1), #232323 100%);
    background-attachment: fixed;
    color: rgba(255, 250, 245, 0.87);
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* wrap */

.wrapper,
.fv-wrapper,
.footer-wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1080px;
    padding: 32px 40px;
    box-sizing: border-box;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
	align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1080px;
    padding: 20px 40px;
    box-sizing: border-box;
}

@media (max-width: 576px) {

    .wrapper,
    .fv-wrapper,
    .footer-wrapper {
        width: 100%;
        padding: 32px 24px;
        box-sizing: border-box;
    }

    .header-wrapper {
        width: 100%;
        padding: 20px 24px;
        box-sizing: border-box;
    }

}

header {
    width: 100%;
    position: fixed;
    z-index: 10;
}

.fv-wrapper {
    width: 100%;
    padding-top: 56px;
    padding-bottom: 0;
    height: 420px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

.container {
    margin: 0;
    padding-bottom: 32px;
}

.footer-wrapper {
    padding-top: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.social {
    display: flex;
    width: fit-content;
    align-items: center; 
    gap: 4px;
}

/* typography */

.page-title,
.page-version{
    font-family: 'Roboto Mono', sans-serif;
    color: rgba(255, 250, 245, 0.87);
}

.copy {
    font-size: 48px;
    padding-bottom: 8px;
    line-height: 140%;
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 250, 245, 0.87);
    font-weight: 700;
}

h2 {
    color: rgba(255, 250, 245, 0.54);
    margin: 0;
    font-size: 14px;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.sp {
    display: none;
}

dt {
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 120%;
    padding-bottom: 6px;
}

h1,
p,
dd,
small {
    font-weight: 300;
    font-family: 'Roboto Mono', sans-serif;
    color: rgba(255, 250, 245, 0.54);
    margin: 0;
    font-size: 12px;
}

small {
    font-family: 'Roboto Mono', sans-serif;
    color: rgba(255, 250, 245, 0.87);
}

span {
    font-weight: 300;
}

/* button */

.social-link {
    width: 32px;
    height: 32px;
    opacity: 0.87;
    transition: .2s;
}

.social-link:hover {
    opacity: 1;
}

.social-icon {
    width: 32px;
    height: 32px;
}

/* motion */

.fade-in{
    animation-name:fade-in;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;
}
/* 
@keyframes fade-in{
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

.fluid {
    position: fixed;
    z-index: -1;
    bottom: -180px;
    right: -100px;
    width: 800px;
    height: 800px;
    background: #1c1c1c;
    animation: fluidrotate 12s ease 0s infinite;
  }
  
  @keyframes fluidrotate {  
        
  0%, 100% {
      border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
      border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
      border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
      border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
      border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
      border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
      border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
        
  } */
