* {

    font-family: 'Roboto','Noto sans JP';
    margin: 40px 40px;
    background-color: #222222;
    color: white;
    line-height: 180%;
    letter-spacing: 0;

}


.wrapper {
    
    max-width: 670px;
    margin: 0 auto;
  
}

.section {
    margin-bottom: 80px;
}

.content {
    
    margin: 0 0 40px;
  
}

h1 {
    
    font-size: 24px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
    font-weight: 900;

}

h2 {
    
    font-size: 52px;
    margin-bottom: 20px;
    line-height: 120%;
  
  }


footer {

    margin: 100px 0 20px ;
    font-size: 12px;
    text-align: center;
    
}

@media (max-width: 670px)
{

    * {

        margin: 40px 20px;
    
    }

    h1 {
        font-size: 18px;
        margin-bottom: 20px;
        font-kerning: none;
    }
    
    h2 {
        font-size: 34px;
        line-height: 130%;
        font-kerning: none;
    }

}
